<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.youcute.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppControl"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AcBase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcLibrary"
            android:label="@string/library_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcSearch"
            android:label="@string/search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcSignLibrary"
            android:label="登录图书馆"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcNotice"
            android:label="@string/announce_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcWebView"
            android:label="浏览" />
        <activity
            android:name=".activity.AcNet"
            android:label="@string/net_education_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcSignEducation"
            android:label="登录教务系统"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcSignNet"
            android:label="登录网络教学平台"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcWebViewSearch"
            android:label="图书搜索"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AcCourseTab"
            android:label="课程表" />
        <activity
            android:name=".activity.AcGuide"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>